body {
  background: linear-gradient(to right, rgb(21, 153, 87), rgb(21, 87, 153));
}
a {
  color: #fff;
  text-decoration: none;
}
.GithubHeading {
  text-align: center;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Intro {
  -webkit-animation: fadein 4s;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  width: 50%;
  -webkit-animation: fadein 2s;
  border-collapse: collapse;
  border-radius: 1em;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  display: block;
}

td,
th {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
}
th {
  color: #000;
}

#rotate {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
#rotate:hover {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*Mobile styling for table*/
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  table {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    display: block;
    width: 100%;
  }
}
